<%#= link_to 'Show', @trip %> <!-- | -->
<%#= link_to 'Back', trips_path %>

<!-- Trip banner -->
<div class="d-flex justify-content-between">
  <div>
    <%= render 'trips/partials/tripinfo', trip: @trip %>
  </div>
  <div>
    <%= render 'trips/partials/tripedit', trip: @trip %>
  </div>
</div>

<!-- Each step of the trip -->

  <% @steps.each do |step| %>
    <div style="padding: 20px 50px">
      <div id="step-<%= step.id %>" class="d-flex">
        <%= render 'steps/partials/stepinfo', trip: @trip, step: step %>
        <div>
          <%= render 'steps/partials/stepedit', trip: @trip, step: step %>
          <%= render 'steps/partials/stepdelete', trip: @trip, step: step %>
        </div>
      </div>
        <%= render 'steps/partials/stepeditcollapse', trip: @trip, step: step %>

      <!-- Each activity of a specific step -->
      <% step.activities.map do |activity| %>
        <div class="d-flex" style="padding: 15px 0px">
          <div class="activity-info">
            <%= render 'activities/partials/activityinfo', trip: @trip, step: step, activity: activity %>
          </div>
          <div>
            <%= render 'activities/partials/activityedit', trip: @trip, step: step, activity: activity %>
            <%= render 'activities/partials/activitydelete', trip: @trip, step: step, activity: activity %>
          </div>
       </div>
        <%= render 'activities/partials/activityeditcollapse', trip: @trip, step: step, activity: activity %>
      <% end %>

      <div id="activitytypes-<%= step.id %>" style="padding: 15px 0px">
        <%= render 'activities/partials/activityadd', trip: @trip, step: step, activity: @activity %>
      </div>
    </div>
  <% end %>
  </div>

  <div style="padding: 20px 50px">
    <h3>Add new step <%= render 'steps/partials/stepadd', trip: @trip, step: @step %></h3>
  </div>
  <div style="margin-top: 30px; margin-bottom: 30px">
    <button type="button" class="btn btn-outline-green-primary">Save as draft</button>
    <button type="button" class="btn btn-primary">Published</button>
  </div>


   <h2>Map</h2>
 <!-- SEARCH BAR -->
<div id='geocoder' class='geocoder'></div>

<!-- MAPBOX -->
<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

<!-- ["Sleep", "See", "Eat", "Drink", "Comment", "Move"] -->
<!-- Modal for Editing Trip-->
<!-- <div id="activity-form-<%#= activity.id %>"></div> -->


 <!-- <div>
          <%#= link_to "Edit", edit_trip_step_activity_path(@trip, step, activity), remote: true %>
        </div> -->
<!--
        <div>
          <%#= link_to "Edit", edit_trip_step_path(@trip, step), remote: true %>
        </div> -->
<!-- Comment Move Sleep See Eat Drink -->
      <!-- if click on activity.category == "comment" -->

<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseComment">
          Comment </a>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseSleep" role="button" aria-expanded="false" aria-controls="collapseSleep">
          Sleep </a>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formcomment', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formsleep', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
    </div> -->

<!--
<script>
  document.getElementById("multiCollapseComment").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Comment";
  })

  document.getElementById("multiCollapseSleep").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Sleep";
  })
</script> -->

<!-- <script>
  var $accordion = $('#accordion');
  $accordion.on('show.bs.collapse','.collapse', function() {
  $accordion.find('.collapse.show').collapse('hide');
  });
</script> -->

<!-- if click on activity.category == "comment" -->
<!-- if click on activity.category == "sleep" -->
  <%#= render 'activities/partials/formsleep', trip: @trip, step: @step %>

<!--  <%#= render 'steps/partials/form', trip: @trip, step: step %> -->
