<div class="d-flex justify-content-between">
  <div>
  <h2><%= @trip.name %></h2>
  <h4><%= @trip.start_date %></h4>
  <h4><%= @trip.end_date %></h4>
  </div>
  <!-- Button trigger modal -->
  <div>
    <button type="button" data-toggle="modal" data-target="#tripModal">
      Edit trip settings
    </button>
  </div>
</div>

<% @steps.map do |step| %>
  <div>

    <div class="d-flex justify-content-between">
      <h3><%= step.location %> (<%= step.nights %> nights)</h3>
      <div>
        Edit
        Delete
      </div>
    </div>

    <div>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseComment">
          Comment </a>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseSleep" role="button" aria-expanded="false" aria-controls="collapseSleep">
          Sleep </a>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%= render 'activities/formcomment', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%= render 'activities/formsleep', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
    </div>

    <% step.activities.map do |activity| %>
      <div>
        <%= activity.name %>
        <%= activity.category %>
        <%= activity.comment %>
        <%#= activity.photo %>
      </div>
    <% end %>
  </div>
<% end %>

<div>
  <%= render 'steps/form', trip: @trip, step: @step %>
</div>

<!-- if click on activity.category == "comment" -->
<!-- if click on activity.category == "sleep" -->
  <%#= render 'activities/formsleep', trip: @trip, step: @step %>
<!-- ["Sleep", "See", "Eat", "Drink", "Comment", "Move"] -->
<!-- Modal -->
<div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="tripModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tripModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'trips/form', trip: @trip %>
      </div>
    </div>
  </div>
</div>

<!-- Comment Move Sleep See Eat Drink -->
      <!-- if click on activity.category == "comment" -->

<%= link_to 'Show', @trip %> |
<%= link_to 'Back', trips_path %>


