<p id="notice"><%= notice %></p>

<!-- <h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %> -->

<!-- FRONT_END STARTS HERE -->

<div class="container">

  <div class="profile_box">
    <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-large">
    <div class="username_box">
      <p> adamdios </p>
    </div>
    <div class="user_countries">
      <p><strong>COUNTRIES</strong></p>
      <p>19</p>
    </div>
    <div class="user_contributions">
      <p><strong>CONTRIBUTIONS</strong></p>
      <p>33</p>
    </div>
  </div>

  <div class="map_container">

  </div>

  <div class="manage_trips">
    <h2> My upcoming trips </h2>
    <%= link_to 'New Trip', new_trip_path %>
  </div>

  <div class="all_trips">
    <h2> All past trips </h2>
  <div>
</div>
