<div class="banner">
  <div class="col-12">
    <h1 class="mb-3">Find and share travel experiences</h1>
  </div>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary btn-lg mr-4 mt-4">Find a trip</button>
    <button type="button" class="btn btn-outline-primary btn-lg mt-4">Add a trip</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3" align="center">
    <h2 class="mb-3">Find and share travel experiences</h2>
    </div>
  </div>
  <div class="row justify-content-center p-5">
    <div class="col-4">
<%= form_tag trips_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Location"
  %>
  </div>
  <div class="col-4">
<%= form_tag trips_path, method: :get do %>
  <%= text_field_tag :trip_days,
    params[:trip_days],
    class: "form-control",
    placeholder: "Approx. How many days?"
  %>
  </div>
<div class="col-4">
        <%= submit_tag "Search", class: "something btn btn-primary btn-block" %>
    </div>
<% end %>
<% end %>

  <div class="row"></div>
</div>

<div class="container">
  <div class="row">

    <% 5.times do  %>

    <% @trips.each do |trip| %>

    <div class="col-4">
      <div class="card-trip">
        <%= link_to "", trip_path(trip), class: 'card-link' %>
        <% if trip.name == 'Netherlands'  %>
        <img src="https://images.unsplash.com/photo-1558000143-a78f8299c40b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" />
        <% elsif trip.name == 'Italy'  %>
        <img src="https://images.unsplash.com/photo-1503970999490-4404449dc349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1938&q=80" />
        <% else  %>
        <img src="https://images.unsplash.com/photo-1490773996481-9ff25c7d9484?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h3><%= trip.name %></h3>
            <%  trip.steps.each do |step| %>
            <%= step.location %>
            <% end %>
          </div>
          <div>
          <%=(trip.end_date - trip.start_date).to_i%> days
          </div>
          <img src="https://media.licdn.com/dms/image/C4E03AQGoXplFFOtXdQ/profile-displayphoto-shrink_800_800/0?e=1579737600&v=beta&t=DIQ4dYohLrYxeelnZSJvN2meZxQ3RiPUXu70duxfMUA" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
