<div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @trip.photo.present? ? @trip.photo : "https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"%>)">
    <%= render 'trips/partials/tripinfo', trip: @trip %>
</div>

  <div id="card-trip-user-show" class="text-center">
    <% @user = @trip.user %>
    <%= link_to user_path(@user) do %>
    <% @user = current_user %>
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo, crop: :thumb, gravity: :face, class: "avatar-large-bordered" %>
      <% else %>
        <%= image_tag "no_prof_pic_present.jpg", class: "avatar-large-bordered" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">

<div class="d-flex justify-content-between">
  <div class="content-side">
    <div class="content-info" style="border-left: 2px solid #ABAAAA;">
      <div>
        <i class="far fa-circle icon-start-end" style="border-top: 3px solid white"></i>Start: <%= @trip.start_date %>
      </div>
      <% @steps.each do |step| %>
        <div id="step-<%= step.id %>">
          <div style="margin-top: 30px;">
            <%= render 'steps/partials/stepinfo', trip: @trip, step: step %>
          </div>
          <% step.activities.map do |activity| %>
            <div style="margin-top: 20px;">
              <%= render 'activities/partials/activityinfoshow', trip: @trip, step: step, activity: activity %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div style="margin-top: 30px;">
        <i class="far fa-circle icon-start-end" style="border-bottom: 5px solid white"></i>End: <%= @trip.end_date %>
      </div>
    </div>
  </div>

  <div class="map-side" style="margin-top: 50px;">
    <div
      style="height: 700px; width: 500px"
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-trip-cordinates="[<%= @trip.latitude %>, <%= @trip.longitude %>]"
    ></div>
  </div>
</div>

<!-- </div>


</div>
 -->
</div>






<!-- ADAM !!!!!!!!!!!!!! -->

<div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @trip.photo.present? ? @trip.photo : "https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80"%>)">
    <h1><%= @trip.name %></h1>
</div>

  <div id="card-trip-user-show" class="text-center">
    <% @user = @trip.user %>
    <%= link_to user_path(@user) do %>
    <% @user = current_user %>
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo, crop: :thumb, gravity: :face, class: "avatar-large-bordered" %>
      <% else %>
        <%= image_tag "no_prof_pic_present.jpg", class: "avatar-large-bordered" %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Trip information -->
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="content-side" style="margin: 50px 0px 50px 50px">
      <div>
        <h3><%= @trip.name %> trip!</h3>
      </div>

      <h4>Start: <%= @trip.start_date %></h4>
      <% @steps.each do |step| %>

      <div id="step-<%= step.id %>">
        <h3><%= step.position %>. <%= step.location %></h3>

      <div class="activity_container">
        <% step.activities.map do |activity| %>
          <h4> <%= activity.name %> </h4>

          <div class="address-fetched">
            <p> <strong>Address:</strong> <%= activity.address %> </p>

          </div>



          <div class="d-flex photo-comment-container">
            <div class="photo-fetched-container">
              <%if activity.photo.present? %>
              <%= cl_image_tag activity.photo, width: 250, crop: :fill, class: "photo-fetched" %>
              <% else %>
              <img class="photo-fetched" src="<%= activity.photo_google %>" />
              <% end %>

            <div class="general-info-fetched">
              <p class="url-fetched"> <%= link_to "Visit website", activity.url, target: :blank %> </p>

              <div class="rating-fetched">
                <i class="fab fa-google"></i> <%= activity.rating.round(1) %> / 5
              </div>

              <p id="icon-fetched">
                <%#= image_tag activity.icon, {:style => "width:20px;"} %></p>
                <div class="tags-fetched">
                  Types: <% if activity.types.present? %>
                  <%= activity.types.gsub("_", " ").capitalize %>
                <% end %>
                </div>
            </div>

            </div>

            <div class="comment-fetched-info-container">
              <div class="comment-container d-flex flex-column">
                <% @user = current_user %>
                <%= link_to user_path(@user) do %>
                  <% if @user.photo.present? %>
                    <%= cl_image_tag @user.photo, crop: :thumb, gravity: :face, class: "avatar-bordered" %>
                  <% else %>
                    <%= image_tag "no_prof_pic_present.jpg", class: "avatar-bordered" %>
                  <% end %>
                  <% end %>
                <p><%= activity.comment %> </p>
              </div>

            </div>
          </div>

          <% end %>
      </div>
    </div>


     <% end %>
      <h4>End: <%= @trip.end_date %></h4>
      </div>



  <!-- Map on the side -->
  <div class="map-side">
    <div
      style="height: 700px; width: 500px"
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-trip-cordinates="[<%= @trip.latitude %>, <%= @trip.longitude %>]"
    ></div>
  </div>
 </div <%# content-map-flex-container closing%>>
</div <%# container closing %>>

<!-- <p id="notice"><%= notice %></p>
<h1>Trip #<%#=Trip.find(params[:id]).id%></h1>
<%#= link_to 'Edit', edit_trip_path(@trip) %> |
<%#= link_to 'Back', trips_path %> -->






