<h3 class="step-info d-flex">
  <div class="icon-step-position">
  <%= step.position %>
  </div>
  <div style="color: #FE5665">

  <%= step.location %>

  (<% if step.nights != nil %>
    <% if step.nights > 1 %><%= step.nights %> nights
    <% elsif step.nights <= 1 %><%= step.nights %>night
    <% end %>
  <% end %>)

  </div>

</h3>






<!--

<h3 class="step-info"><%= step.position %> . <%= step.location %>
    (<%# if step.nights > 1 %><%= step.nights %> nights<%# elsif step.nights <= 1 %><%= step.nights %>night<%# end %>)</h3> -->
