<%#= link_to 'Show', @trip %>
<%#= link_to 'Back', trips_path %>

<% @trip = Trip.find(7)  %>
<% @step = Step.new  %>
<% @activity = Activity.new  %>
<% @activities = @trip.activities %>
<% @steps = @trip.steps  %>

<!-- Trip banner -->
<div class="card-category d-flex " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80)">
  <div>
    <%= render 'trips/partials/tripinfo', trip: @trip %>
  </div>
  <div>
    <%= render 'trips/partials/tripedit', trip: @trip %>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="content-side" style="margin: 50px 0px 50px 50px">
    <div>
      <% if @steps.empty? || @activities.empty? %>
        <h3><%= @trip.user.first_name %>, start making your trip</h3>
      <% else %>
        <h3><%= @trip.user.first_name %>, edit your trip</h3>
      <% end %>
    </div>
    <h4>Start: <%= @trip.start_date %></h4>
     <% @steps.each do |step| %>
        <div id="step-<%= step.id %>">
          <%= render 'steps/partials/stepinfo', trip: @trip, step: step %>
          <% step.activities.map do |activity| %>
              <%= render 'activities/partials/activityinfo', trip: @trip, step: step, activity: activity %>
          <% end %>
          <div id="activitytypes-<%= step.id %>">
            <%= render 'activities/partials/activityadd', trip: @trip, step: step, activity: @activity %>
          </div>
        </div>
     <% end %>
     <h3><%= render 'steps/partials/stepadd', trip: @trip, step: @step %></h3>
    <h4>End: <%= @trip.end_date %></h4>
  </div>
  <div class="map-side">
    <img style="height: 700px; width: 500px" src="https://images.unsplash.com/photo-1532154078493-c1c3eef2023c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80" alt="">
  </div>
</div>



<div class="d-flex justify-content-center" style="margin: 50px 0px">
  <div style="margin-right: 20px">
      <%= link_to "Save as Draft", mytrips_path, class: "btn btn-outline-green-primary" %>
    </div>
  <div>
    <% if @trip.published?  %>
      <%= simple_form_for [@trip] do |f| %>
        <%= f.hidden_field :published, value: :false %>
        <%= f.submit "Change to Draft", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= simple_form_for [@trip] do |f| %>
        <%= f.hidden_field :published, value: :true %>
        <%= f.submit "Publish", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>







 <%#= render 'activities/partials/activityeditcollapse', trip: @trip, step: step, activity: activity %>
<!-- <div>
              <%#= render 'activities/partials/activityedit', trip: @trip, step: step, activity: activity %>
              <%#= render 'activities/partials/activitydelete', trip: @trip, step: step, activity: activity %>
            </div> -->



<!-- <div>
            <%#= render 'steps/partials/stepedit', trip: @trip, step: step %>
            <%#= render 'steps/partials/stepdelete', trip: @trip, step: step %>
          </div> -->







<!-- <h2>Map</h2> -->

 <!-- SEARCH BAR -->
<!-- <div id='geocoder' class='geocoder'></div> -->

<!-- MAPBOX -->
<!-- <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div> -->


<!-- ["Sleep", "See", "Eat", "Drink", "Comment", "Move"] -->
<!-- Modal for Editing Trip-->
<!-- <div id="activity-form-<%#= activity.id %>"></div> -->


 <!-- <div>
          <%#= link_to "Edit", edit_trip_step_activity_path(@trip, step, activity), remote: true %>
        </div> -->
<!--
        <div>
          <%#= link_to "Edit", edit_trip_step_path(@trip, step), remote: true %>
        </div> -->
<!-- Comment Move Sleep See Eat Drink -->
      <!-- if click on activity.category == "comment" -->

<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseComment">
          Comment </a>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseSleep" role="button" aria-expanded="false" aria-controls="collapseSleep">
          Sleep </a>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formcomment', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formsleep', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
    </div> -->

<!--
<script>
  document.getElementById("multiCollapseComment").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Comment";
  })

  document.getElementById("multiCollapseSleep").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Sleep";
  })
</script> -->

<!-- <script>
  var $accordion = $('#accordion');
  $accordion.on('show.bs.collapse','.collapse', function() {
  $accordion.find('.collapse.show').collapse('hide');
  });
</script> -->

<!-- if click on activity.category == "comment" -->
<!-- if click on activity.category == "sleep" -->
  <%#= render 'activities/partials/formsleep', trip: @trip, step: @step %>

<!--  <%#= render 'steps/partials/form', trip: @trip, step: step %> -->
