<% @trip = Trip.find(7)  %>
<% @step = Step.new  %>
<% @activity = Activity.new  %>
<% @activities = @trip.activities %>
<% @steps = @trip.steps  %>

<div style="border-left: 1px solid grey; margin-left: 50px;">
  <div id="div1" style="width: 50px; height: 50px; background:#e53935; margin-bottom: 50px; margin-left: -25px;">Hello</div>
  <div id="div2" style="width: 50px; height: 50px; background: green; margin-bottom: 50px; margin-left: -25px;">Bonjour</div>
  <div id="div3" style="width: 50px; height: 50px; background: yellow; margin-bottom: 50px; margin-left: -25px;">Hola</div>
  <div id="div4" style="width: 50px; height: 50px; background:#4527a0; margin-bottom: 50px; margin-left: -25px;">Ciao</div>
</div>







<!--
<div id="div1" style="width: 50px; height: 50px; background:#e53935; margin-bottom: 50px; margin-left: 50px;">Hello</div>
<div id="div2" style="width: 50px; height: 50px; background: green; margin-bottom: 50px; margin-left: 50px;">Bonjour</div>
<div id="div3" style="width: 50px; height: 50px; background: yellow; margin-bottom: 50px; margin-left: 50px;">Hola</div>
<div id="div4" style="width: 50px; height: 50px; background:#4527a0; margin-bottom: 50px; margin-left: 50px;">Ciao</div>
<div style="margin: 50px;">
  <svg><line id="line1" stroke="red"/></svg>
</div>

<script>
  line1 = $('#line1');
  div1 = $('#div1');
  div4 = $('#div4');
  var pos1 = div1.position();
  var pos2 = div4.position();
  console.log(pos1);
  console.log(pos2);
  line1
  .attr('x1', pos1.left)
  .attr('y1', pos1.top)
  .attr('x2', pos2.left)
  .attr('y2', pos2.top)
  console.log(line1)
</script>

 -->


<!--
<div style="margin: 100px;">
  <h1 id="myCanvas">hello</h1>
  <h1>hola</h1>
  <h1 id="2d">ciao</h1>
<div>


<script>
  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");
  ctx.beginPath();
  ctx.moveTo(0, 0);
  ctx.lineTo(300, 150);
  ctx.stroke();
</script>
 -->


























<!-- Trip banner -->
<div class="card-category d-flex " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2466&q=80)">
  <div>
    <%= render 'trips/partials/tripinfo', trip: @trip %>
  </div>
  <div>
    <%= render 'trips/partials/tripedit', trip: @trip %>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="content-side" style="margin: 50px 0px 50px 50px">
    <div>
      <% if @steps.empty? || @activities.empty? %>
        <h3><%= @trip.user.first_name %>, start making your trip</h3>
      <% else %>
        <h3><%= @trip.user.first_name %>, edit your trip</h3>
      <% end %>
    </div>
    <h4>Start: <%= @trip.start_date %></h4>
     <% @steps.each do |step| %>
        <div id="step-<%= step.id %>">
          <%= render 'steps/partials/stepinfo', trip: @trip, step: step %>
          <% step.activities.map do |activity| %>
              <%= render 'activities/partials/activityinfo', trip: @trip, step: step, activity: activity %>
          <% end %>
          <div id="activitytypes-<%= step.id %>">
            <%= render 'activities/partials/activityadd', trip: @trip, step: step, activity: @activity %>
          </div>
        </div>
     <% end %>
     <h3><%= render 'steps/partials/stepadd', trip: @trip, step: @step %></h3>
    <h4>End: <%= @trip.end_date %></h4>
  </div>
  <div class="map-side">
    <img style="height: 700px; width: 500px" src="https://images.unsplash.com/photo-1532154078493-c1c3eef2023c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80" alt="">
  </div>
</div>



<div class="d-flex justify-content-center" style="margin: 50px 0px">
  <div style="margin-right: 20px">
      <%= link_to "Save as Draft", mytrips_path, class: "btn btn-outline-green-primary" %>
    </div>
  <div>
    <% if @trip.published?  %>
      <%= simple_form_for [@trip] do |f| %>
        <%= f.hidden_field :published, value: :false %>
        <%= f.submit "Change to Draft", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= simple_form_for [@trip] do |f| %>
        <%= f.hidden_field :published, value: :true %>
        <%= f.submit "Publish", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>







 <%#= render 'activities/partials/activityeditcollapse', trip: @trip, step: step, activity: activity %>
<!-- <div>
              <%#= render 'activities/partials/activityedit', trip: @trip, step: step, activity: activity %>
              <%#= render 'activities/partials/activitydelete', trip: @trip, step: step, activity: activity %>
            </div> -->



<!-- <div>
            <%#= render 'steps/partials/stepedit', trip: @trip, step: step %>
            <%#= render 'steps/partials/stepdelete', trip: @trip, step: step %>
          </div> -->







<!-- <h2>Map</h2> -->

 <!-- SEARCH BAR -->
<!-- <div id='geocoder' class='geocoder'></div> -->

<!-- MAPBOX -->
<!-- <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div> -->


<!-- ["Sleep", "See", "Eat", "Drink", "Comment", "Move"] -->
<!-- Modal for Editing Trip-->
<!-- <div id="activity-form-<%#= activity.id %>"></div> -->


 <!-- <div>
          <%#= link_to "Edit", edit_trip_step_activity_path(@trip, step, activity), remote: true %>
        </div> -->
<!--
        <div>
          <%#= link_to "Edit", edit_trip_step_path(@trip, step), remote: true %>
        </div> -->
<!-- Comment Move Sleep See Eat Drink -->
      <!-- if click on activity.category == "comment" -->

<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseComment">
          Comment </a>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseSleep" role="button" aria-expanded="false" aria-controls="collapseSleep">
          Sleep </a>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formcomment', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
      <div class="collapse" id="collapseComment">
        <div class="card card-body">
          <%#= render 'activities/partials/formsleep', trip: @trip, step: step, activity: @activity %>
        </div>
      </div>
    </div> -->

<!--
<script>
  document.getElementById("multiCollapseComment").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Comment";
  })

  document.getElementById("multiCollapseSleep").addEventListener("click", (event) => {
    event.preventDefault();
    console.log(event);
    // @activity.category = "Sleep";
  })
</script> -->

<!-- <script>
  var $accordion = $('#accordion');
  $accordion.on('show.bs.collapse','.collapse', function() {
  $accordion.find('.collapse.show').collapse('hide');
  });
</script> -->

<!-- if click on activity.category == "comment" -->
<!-- if click on activity.category == "sleep" -->
  <%#= render 'activities/partials/formsleep', trip: @trip, step: @step %>

<!--  <%#= render 'steps/partials/form', trip: @trip, step: step %> -->
