  <div class="title d-flex">
    <div style="margin-top: 20px;">
      General information
    </div>
    <a data-toggle="collapse" href="#collapseExample<%= activity.id %>" role="button" aria-expanded="false" aria-controls="collapseExample<%= activity.id %>">
      <i class="fas fa-sort-down" style="color: black; margin-left: 8px; margin-top: 21px"></i>
    </a>
  </div>

<div class="collapse" id="collapseExample<%= activity.id %>">
  <div class="card card-body-general-information general-info-container" style="border: none;">
   <!--  <div class="d-flex">
      <i class="fas fa-tag"></i>
    -->
    <div class="pb-3">
      <% if activity.types.present? %>
      <% activity.types.split(",").each do |item| %>
      <%= "#" + item.gsub("_", "")%>
      <% end %>
      <% end %>
    </div>

    <div class="pb-3">
      <% unless activity.rating.nil? %>
      <%# total_stars = activity.rating.map { |review| review.stars }   %>
      <%# average_rating = total_stars.sum.to_i/total_stars.count %>
      <% counter = 0 %>
      <% 5.times do %>
      <i class="<%= activity.rating.to_i > counter ? 'fas fa-star' : 'far fa-star' %>"></i>
      <% counter += 1 %>
      <% end %>
      <% end %>
      <em>(Google Reviews)</em>
      <!-- (<%#= Review.count %> reviews) -->
    </div>
    <!-- </div> -->

    <!-- <div class="d-flex">
      <i class="fab fa-google"></i>
      <div> -->

      <!-- </div>
    </div>

    <div class="d-flex">
      <i class="fab fa-google"></i> -->
      <div class="pb-3">
        <strong>Address: </strong><%= activity.address %> / 5
      </div>
   <!--  </div>

   -->

    <div class="url-content pb-2">
      <strong>Website: </strong>
     <%= link_to ('<i class="fas fa-external-link-alt"></i>').html_safe, activity.url, target: :blank, id: "visit-website-link" %>
   </div>




</div>
</div>



