<h4><% if activity.category == "See" %>
  <i class="far fa-eye icon-activity"></i>
<% elsif activity.category == "Eat" %>
  <i class="fas fa-utensils icon-activity"></i>
<% elsif activity.category == "Drink" %>
  <i class="fas fa-cocktail icon-activity"></i>
<% elsif activity.category == "Sleep" %>
  <i class="fas fa-bed icon-activity"></i>
<% elsif activity.category == "Move" %>
  <i class="fas fa-bus icon-activity"></i>
<% elsif activity.category == "Comment" %>
  <i class="fas fa-comment icon-activity"></i>
<% end %>
<%= activity.name %></h4>
<div class="activity-information-container">
  <!-- ACTIVITY - SEE, EAT, DRINK, SLEEP -->
  <% if activity.category == "See" || activity.category == "Eat" || activity.category == "Drink" || activity.category == "Sleep" %>
  <!-- <div class="address-fetched">
    <p> <strong>Address:</strong> <%= activity.address %> </p>
  </div> -->

    <div class="d-md-flex ">
      <div class="photo-fetched-container">
        <%if activity.photo.present? %>
          <%= cl_image_tag activity.photo, width: 250, crop: :fill, class: "photo-fetched" %>
        <% else %>
          <img class="photo-fetched" src="<%= activity.photo_google %>" />
        <% end %>

      </div>
    <!-- GENERAL INFO ENDS FOR EAT SLEEP DRINK SEE -->

      <div class="comment-fetched-info-container mt-4 mt-md-0 ml-md-3">
        <div class="comment-container d-flex">
          <%# @user = @trip.user %>
          <%# @user = current_user %>

              <p><%= activity.comment %> </p>
              <p><%= activity.longitude %> </p>
               <p><%= activity.latitude %> </p>
               <p><%= activity.address %> </p>
                <p><%= activity.icon %> </p>
                <p><%= activity.rating %> </p>
                <p><%= activity.url %> </p>
                <p><%= activity.types %> </p>
        </div>
      </div>
      </div>
      <div class="general-info-fetched">
        <%= render 'activities/partials/activitygeneralinformation', trip: @trip, step: step, activity: activity, user: @user %>
      </div>


    <% else %>

      <!-- <div class="comment-fetched-info-container"> -->
        <div class="comment-container-second d-flex">

              <p><%= activity.comment %> </p>
        </div>

      <!-- </div> -->

    <% end %>

</div>
