<%= simple_form_for [trip, step, activity] do |f| %>
  <h4 style="padding-bottom: 10px">What to visit</h4>
  <%= f.hidden_field :category, value: "See" %>
  <%= f.hidden_field :name, label: false, class: "activity-name-input-js" %>
  <%= f.hidden_field :rating, class: "activity-rating-input-js" %>
  <%= f.hidden_field :url, class: "activity-url-input-js" %>
  <%= f.hidden_field :icon, class: "activity-icon-input-js" %>
  <%= f.hidden_field :types, class: "activity-types-input-js" %>
  <%= f.hidden_field :address, class: "activity-address-input-js" %>
  <%= f.hidden_field :photo_google, class: "activity-photo-input-js" %>
  <%= f.hidden_field :latitude, class: "activity-latitude-input-js" %>
  <%= f.hidden_field :longitude, class: "activity-longitude-input-js" %>
  <input type="text" class="form-control search-google" placeholder="Search...">
  <%= f.input :comment, placeholder: "Share your feedback", label: false %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "add", class: "btn btn-primary" %>
<% end %>


<%#= ("<div id='geocoder' class='geocoder'></div>").html_safe %>
<!-- <div class="mapbox-class">

  </div> -->
