<%= simple_form_for [trip, step, activity] do |f| %>
  <h4 style="padding-bottom: 10px">What to visit</h4>
  <%= f.hidden_field :category, value: "See" %>
  <%= f.hidden_field :name, label: false, class: "activity-name-input-js" %>
  <%= ("<div id='geocoder' class='geocoder'></div>").html_safe %>
  <%= f.input :comment, placeholder: "Share your feedback", label: false %>
  <%= f.submit "save", class: "btn btn-secondary" %>
<% end %>
