<%= simple_form_for [trip, step, activity] do |f| %>
  <h4 style="padding-bottom: 10px">Where to eat</h4>
  <%= f.hidden_field :category, value: "Eat" %>
  <%= f.input :name, placeholder: "Location", label: false %>
  <%= f.input :comment, placeholder: "Share your feedback", label: false %>
  <%= f.submit "save", class: "btn btn-secondary" %>
<% end %>
