<%= simple_form_for [trip, step, activity] do |f| %>
<!-- -->

  <h4 style="padding-bottom: 10px">Where to drink</h4>
  <%= f.hidden_field :category, value: "Drink" %>
  <%= f.hidden_field :rating, class: "activity-rating-input-js" %>
  <%= f.hidden_field :url, class: "activity-url-input-js" %>
  <%= f.hidden_field :icon, class: "activity-icon-input-js" %>
  <%= f.hidden_field :types, class: "activity-types-input-js" %>
  <%= f.hidden_field :name, class: "activity-name-input-js" %>
  <%= f.hidden_field :address, class: "activity-address-input-js" %>
  <%= f.hidden_field :photo, class: "activity-photo-input-js" %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= ("<div id='geocoder' class='geocoder form-drink'></div>").html_safe %>
  <%= f.input :comment, placeholder: "Share your feedback", label: false %>
  <%= f.submit "save", class: "btn btn-secondary" %>
<% end %>




<!-- input_html: { id: 'geocoder', class:'geocoder' } -->

<%#= ("<div id='geocoder' class='geocoder'>hello</div>").html_safe %>




<%#= f.hidden_field :name, value: XXXXXX %>

  <%#= f.input :name, placeholder: "Location", label: false, data: ("<div id='geocoder' class='geocoder'>hello</div>").html_safe %>




